<app-navigation></app-navigation>
<app-title-box
  (titleClick)="titleClick($event)"
  [title]="title"
></app-title-box>
<app-books></app-books>
<hr />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />
<br />

<app-mouse-cursor></app-mouse-cursor>
<router-outlet></router-outlet>
