<ul>
  <li>
    <button mat-mini-fab color="primary" [matMenuTriggerFor]="menu">
      <mat-icon>menu</mat-icon>
    </button>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/books">Books</a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/about">About</a>
  </li>
  <li>
    <a routerLinkActive="active" routerLink="/books/new">
      <mat-icon style="color: aliceblue">cloud_upload</mat-icon>
    </a>
  </li>
</ul>

<mat-menu #menu="matMenu">
  <button mat-menu-item>
    <a routerLinkActive="active" routerLink="/books">Books</a>
  </button>
  <button mat-menu-item>
    <a routerLinkActive="active" routerLink="/about">About</a>
  </button>
  <button mat-menu-item>
    <a routerLinkActive="active" routerLink="/books/new">
      <mat-icon style="color: black">cloud_upload</mat-icon>
    </a>
  </button>
</mat-menu>

<app-info-box></app-info-box>
